$color-white: #ffffff;
$color-grey: #8F8F8F;
$color-text: #F2F2F2;
$color-text-light: #A0A0A0;
$color-text-light-grey: #666666;
$color-text-dark: #333333;
$bgc-icon: #545454;
$color-icon: #D2D2D2;
$bg-color: #464646;
$backgound: #2C2C2C;
$bgc-footer: #252525;
$red: #F13651;
$border-text: rgba(242, 242, 242, 0.4);


