@media screen and(min-width: 1025px) {
    .page__home {
        .mobile_nav {
            display: none !important;
        }
    }   
}

@media screen and(max-width: 1024px) {
    .page__home {
        .desktop__nav {
            display: none;
        }

        header {
            height: auto !important;
        }
    }   
}